:root {
  --font-family: 'Roboto', sans-serif;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-family);
  height: 100vh;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

.app-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
}
